/* логотип меняет цвет */

.logo {
  animation: changeLogo 15s steps(8) infinite;
}
@keyframes changeLogo {
  0% {
    opacity: 1;
    background-position: 0.8vw 0;
  }
  4% {
    opacity: 0;
    background-position: 0.8vw 0;
  }
  /* второй лого */
  8% {
    opacity: 0;
    background-position: -41.2vw 0;
  }
  12% {
    opacity: 1;
    background-position: -41.2vw 0;
  }
  16% {
    opacity: 0;
    background-position: -41.2vw 0;
  }
  /* третий лого */
  20% {
    opacity: 0;
    background-position: -82.4vw 0;
  }
  24% {
    opacity: 1;
    background-position: -82.4vw 0;
  }
  28% {
    opacity: 0;
    background-position: -82.4vw 0;
  }
  /* четвертый лого */
  32% {
    opacity: 0;
    background-position: -123.6vw 0;
  }
  36% {
    opacity: 1;
    background-position: -123.6vw 0;
  }
  40% {
    opacity: 0;
    background-position: -123.6vw 0;
  }
  /* пятый лого */
  44% {
    opacity: 0;
    background-position: -164.8vw 0;
  }
  48% {
    opacity: 1;
    background-position: -164.8vw 0;
  }
  52% {
    opacity: 0;
    background-position: -164.8vw 0;
  }
  /* шестой лого */
  56% {
    opacity: 0;
    background-position: -206vw 0;
  }
  60% {
    opacity: 1;
    background-position: -206vw 0;
  }
  64% {
    opacity: 0;
    background-position: -206vw 0;
  }
  /* седьмой лого */
  68% {
    opacity: 0;
    background-position: -247.2vw 0;
  }
  72% {
    opacity: 1;
    background-position: -247.2vw 0;
  }
  76% {
    opacity: 0;
    background-position: -247.2vw 0;
  }
  /* восьмой лого */
  80% {
    opacity: 0;
    background-position: -288.4vw 0;
  }
  84% {
    opacity: 1;
    background-position: -288.4vw 0;
  }
  88% {
    opacity: 0;
    background-position: -288.4vw 0;
  }
  /* возвращение к первому */
  92% {
    opacity: 0;
    background-position: 0 0;
  }
  96% {
    opacity: 0;
    background-position: 0 0;
  }
  100% {
    opacity: 0;
    background-position: 0 0;
  }
}

/* интрументы  */

.saxophone,
.tambourine,
.harp,
.guitar {
  animation: vibration 6s infinite;
}
@keyframes vibration {
  0% {
    transform: translate(0, 0);
  }
  3% {
    transform: translate(-2vw, 1vw) rotate(-4deg);
  }
  7% {
    transform: translate(1.5vw, -42w) rotate(4deg);
  }
  12% {
    transform: translate(-2vw, 1vw) rotate(-7deg);
  }
  17% {
    transform: translate(1vw, -1vw) rotate(3deg);
  }
  23% {
    transform: translate(-1.5vw, 3px) rotate(-3deg);
  }
  30% {
    transform: translate(2vw, -2vw) rotate(7deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
.row1 {
  animation: row1 6s linear infinite;
}

@keyframes row1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* надежда  */

.hope-bw {
  animation: glow 6s infinite linear;
}

.s1 {
  animation: glow 4s infinite 2s;
}

.s2 {
  animation: glow 6s infinite 2s;
}

.s3 {
  animation: glow 6s infinite 4s;
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
}

.hope-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* страх */

.icon-f1 {
  animation: movefear1 12s infinite;
}
.icon-f2 {
  animation: movefear2 12s infinite;
}
.icon-f3 {
  animation: movefear3 12s infinite;
}
.icon-f4 {
  animation: movefear4 12s infinite;
}

@keyframes movefear1 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(0, 0) rotate(-0.8deg);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-0.8deg);
  }
  75% {
    opacity: 1;
    transform: translate(0, 0) rotate(-0.8deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0) rotate(-0.8deg);
  }
}

@keyframes movefear2 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(0deg);
  }
  75% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(8vw, 8vw) rotate(0deg);
  }
}

@keyframes movefear3 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translate(0vw, 16vw) rotate(1.2deg);
  }
  75% {
    opacity: 1;
    transform: translate(0vw, 16vw) rotate(1.2deg);
  }
  100% {
    opacity: 0;
    transform: translate(0vw, 16vw) rotate(1.2deg);
  }
}
@keyframes movefear4 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translate(0vw, 16vw) rotate(1.2deg);
  }
  75% {
    opacity: 1;
    transform: translate(8vw, 24vw) rotate(-2.4deg);
  }
  100% {
    opacity: 0;
    transform: translate(8vw, 24vw) rotate(-2.4deg);
  }
}
@keyframes movefear1Mobile {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(0, 0) rotate(-0.8deg);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-0.8deg);
  }
  75% {
    opacity: 1;
    transform: translate(0, 0) rotate(-0.8deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0) rotate(-0.8deg);
  }
}

@keyframes movefear2Mobile {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(16vw, 16vw) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translate(16vw, 16vw) rotate(0deg);
  }
  75% {
    opacity: 1;
    transform: translate(16vw, 16vw) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(16vw, 16vw) rotate(0deg);
  }
}

@keyframes movefear3Mobile {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(16vw, 16vw) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translate(0vw, 32vw) rotate(1.2deg);
  }
  75% {
    opacity: 1;
    transform: translate(0vw, 32vw) rotate(1.2deg);
  }
  100% {
    opacity: 0;
    transform: translate(0vw, 32vw) rotate(1.2deg);
  }
}
@keyframes movefear4Mobile {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(16vw, 16vw) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translate(0vw, 32vw) rotate(1.2deg);
  }
  75% {
    opacity: 1;
    transform: translate(16vw, 48vw) rotate(-2.4deg);
  }
  100% {
    opacity: 0;
    transform: translate(16vw, 48vw) rotate(-2.4deg);
  }
}
.fear-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* грусть */

.icon-sadness {
  animation: tears1 5s linear infinite;
}

@keyframes tears1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5vw);
  }
  100% {
    transform: translateY(5vw);
  }
}

.tears {
  animation: tears2 5s linear infinite;
  animation-delay: 2.5s;
}

@keyframes tears2 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(15vw);
  }
}
.sadness-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* умиротворение */

.icon-peace-bw {
  animation: spin 5s linear infinite;
  transform-origin: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.peace-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* воодушевление */

.icon-excitement {
  animation: swings 2s linear infinite;
}

@keyframes swings {
  0% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(7deg);
  }
}
.excitement-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* гитара */

.orange-string1:hover {
  background-image: url('../images/orange.svg');
}
.lemon-string2:hover {
  background-image: url('../images/lemon.svg');
}
.blue-string3:hover {
  background-image: url('../images/blue.svg');
}
.yellow-string4:hover {
  background-image: url('../images/yellow.svg');
}
.green-string5:hover {
  background-image: url('../images/green.svg');
}
.pink-string6:hover {
  background-image: url('../images/pink.svg');
}

/* влюбленность */

.icon-crush {
  animation: opacitycrush 4s linear infinite;
}

@keyframes opacitycrush {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.crush-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* боль */

.text span {
  animation: changetext 5s ease-in-out infinite;
}

@keyframes changetext {
  0% {
    color: #ffffff;
  }
  20% {
    color: #00efff;
  }
  40% {
    color: #61ff00;
  }
  60% {
    color: #8f00ff;
  }
  80% {
    color: #bf0c00;
  }
  100% {
    color: #ffffff;
  }
}
.pain-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
/* гнев */
.anger {
  animation: pop 3s steps(1) infinite;
}

@keyframes pop {
  0% {
    background-position: 0vw 0vw;
  }
  30% {
    background-position: -50vw 0vw;
  }
  60% {
    background-position: -100vw 0vw;
  }
  90% {
    background-position: -150vw 0vw;
  }
}
@keyframes popMobile {
  0% {
    background-position: 0vw 0vw;
  }
  30% {
    background-position: -100vw 0vw;
  }
  60% {
    background-position: -200vw 0vw;
  }
  90% {
    background-position: -300vw 0vw;
  }
}
.anger-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* радость */

.nd-path {
  animation: pngrow 8s linear infinite;
}

@keyframes pngrow {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(2%);
  }
}
.joy-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* подвал */
.row2 {
  animation: row2 4s linear infinite;
}

@keyframes row2 {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-115%);
  }
}
.row2:hover {
  animation-play-state: paused;
}
