/* логотип меняет цвет */

.logo {
  animation: changeLogo 15s steps(8) infinite;
}
@keyframes changeLogo {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  4% {
    opacity: 0;
    background-position: 0 0;
  }
  /* второй лого */
  8% {
    opacity: 0;
    background-position: -534px 0;
  }
  12% {
    opacity: 1;
    background-position: -534px 0;
  }
  16% {
    opacity: 0;
    background-position: -534px 0;
  }
  /* третий лого */
  20% {
    opacity: 0;
    background-position: -1068px 0;
  }
  24% {
    opacity: 1;
    background-position: -1068px 0;
  }
  28% {
    opacity: 0;
    background-position: -1068px 0;
  }
  /* четвертый лого */
  32% {
    opacity: 0;
    background-position: -1602px 0;
  }
  36% {
    opacity: 1;
    background-position: -1602px 0;
  }
  40% {
    opacity: 0;
    background-position: -1602px 0;
  }
  /* пятый лого */
  44% {
    opacity: 0;
    background-position: -2136px 0;
  }
  48% {
    opacity: 1;
    background-position: -2136px 0;
  }
  52% {
    opacity: 0;
    background-position: -2136px 0;
  }
  /* шестой лого */
  56% {
    opacity: 0;
    background-position: -2670px 0;
  }
  60% {
    opacity: 1;
    background-position: -2670px 0;
  }
  64% {
    opacity: 0;
    background-position: -2670px 0;
  }
  /* седьмой лого */
  68% {
    opacity: 0;
    background-position: -3204px 0;
  }
  72% {
    opacity: 1;
    background-position: -3204px 0;
  }
  76% {
    opacity: 0;
    background-position: -3204px 0;
  }
  /* восьмой лого */
  80% {
    opacity: 0;
    background-position: -3738px 0;
  }
  84% {
    opacity: 1;
    background-position: -3738px 0;
  }
  88% {
    opacity: 0;
    background-position: -3738px 0;
  }
  /* возвращение к первому */
  92% {
    opacity: 0;
    background-position: 0 0;
  }
  96% {
    opacity: 0;
    background-position: 0 0;
  }
  100% {
    opacity: 0;
    background-position: 0 0;
  }
}

/* интрументы  */

.saxophone,
.tambourine,
.harp,
.guitar {
  animation: vibration 6s infinite;
}
@keyframes vibration {
  0% {
    transform: translate(0, 0);
  }
  3% {
    transform: translate(-2vw, 1vw) rotate(-4deg);
  }
  7% {
    transform: translate(1.5vw, -42w) rotate(4deg);
  }
  12% {
    transform: translate(-2vw, 1vw) rotate(-7deg);
  }
  17% {
    transform: translate(1vw, -1vw) rotate(3deg);
  }
  23% {
    transform: translate(-1.5vw, 3px) rotate(-3deg);
  }
  30% {
    transform: translate(2vw, -2vw) rotate(7deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
.row1 {
  animation: row1 6s linear infinite;
}

@keyframes row1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* надежда  */

.hope-bw {
  animation: glow 6s infinite linear;
}

.s1 {
  animation: glow 4s infinite 2s;
}

.s2 {
  animation: glow 6s infinite 2s;
}

.s3 {
  animation: glow 6s infinite 4s;
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
}

.hope-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* страх */

.icon-f1 {
  animation: movefear1 12s infinite;
}
.icon-f2 {
  animation: movefear2 12s infinite;
}
.icon-f3 {
  animation: movefear3 12s infinite;
}
.icon-f4 {
  animation: movefear4 12s infinite;
}

@keyframes movefear1 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(0, 0) rotate(-1deg);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-1deg);
  }
  75% {
    opacity: 1;
    transform: translate(0, 0) rotate(-1deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0) rotate(-1deg);
  }
}

@keyframes movefear2 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(-1.5deg);
  }
  25% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(-1.5deg);
  }
  50% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(-1.5deg);
  }
  75% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(-1.5deg);
  }
  100% {
    opacity: 0;
    transform: translate(8vw, 8vw) rotate(-1.5deg);
  }
}

@keyframes movefear3 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(-1.5deg);
  }
  50% {
    opacity: 1;
    transform: translate(0vw, 16vw) rotate(0.5deg);
  }
  75% {
    opacity: 1;
    transform: translate(0vw, 16vw) rotate(0.5deg);
  }
  100% {
    opacity: 0;
    transform: translate(0vw, 16vw) rotate(0.5deg);
  }
}
@keyframes movefear4 {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(8vw, 8vw) rotate(-1.5deg);
  }
  50% {
    opacity: 1;
    transform: translate(0vw, 16vw) rotate(0.5deg);
  }
  75% {
    opacity: 1;
    transform: translate(8vw, 24vw) rotate(-3.5deg);
  }
  100% {
    opacity: 0;
    transform: translate(8vw, 24vw) rotate(-3.5deg);
  }
}
.fear-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* грусть */

.icon-sadness {
  animation: tears1 4.5s linear infinite;
}

@keyframes tears1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5vw);
  }
}

.tears {
  animation: tears2 4.5s linear infinite;
}

@keyframes tears2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15vw);
  }
}
.sadness-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* умиротворение */

.icon-peace-bw {
  animation: spin 5s linear infinite;
  transform-origin: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.peace-colored:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
