* {
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #1a1a1a;
}

/* первый экран */
.first-container {
  display: flex;
  height: 53vw;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.container-instruments1,
.container-instruments2 {
  width: 28.5vw;
  height: 53vw;
}
.saxophone {
  width: 28vw;
  height: 29vw;
  background-image: url('../images/saxophone.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.tambourine {
  width: 16vw;
  height: 20vw;
  background-image: url('../images/tambourine.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 1vw 0 0 11vw;
  background-size: contain;
}
.harp {
  width: 18vw;
  height: 19vw;
  background-image: url('../images/harp.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 5vw 0 0 4vw;
  background-size: contain;
}
.guitar {
  width: 22vw;
  height: 25vw;
  background-image: url('../images/guitar.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 4vw 0 0 2vw;
  background-size: contain;
}
.logo {
  width: 41vw;
  height: 53vw;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 328.6vw 53vw;
}

/* бегущая строка */
.row1 p {
  font-size: 5vw;
  font-family: 'Unbounded';
  white-space: nowrap;
  font-weight: 500;
}
.container-row1 {
  height: 8vw;
  width: 100%;
  position: relative;
  background-color: #00efff;
  padding-top: 1vw;
  margin-top: 1.5vw;
  overflow: hidden;
}
.row1 {
  position: absolute;
  width: 200%;
}

/* второй блок */

.second-container {
  display: flex;
  height: 43vw;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.extra {
  width: 50vw;
  height: 100%;
  border-bottom: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
/* надежда */

.hope {
  width: 50%;
  height: 100%;
  border-right: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hope-bw {
  width: 24.5vw;
  height: 42.5vw;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.s1 {
  background-image: url('../images/iconhope-step1.svg');
}

.s2 {
  background-image: url('../images/iconhope-step2.svg');
}

.s3 {
  background-image: url('../images/iconhope-step3.svg');
}

.hope-colored {
  width: 25vw;
  height: 43vw;
  opacity: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/hope-colour.svg');
  background-size: cover;
  z-index: 2;
}

/* страх */

.fear {
  width: 50%;
  height: 100%;
  border-left: 4px solid #969696;
  border-right: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
}

.fear img {
  position: absolute;
  width: 13vw;
  height: 13vw;
  opacity: 0;
  margin: 3vw 0 0 1.2vw;
}

.fear-colored {
  width: 25vw;
  height: 43vw;
  opacity: 0;
  top: 0;
  left: -0.3vw;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/fear-colour.svg');
  background-size: cover;
  z-index: 2;
}

/* грусть */

.sadness {
  width: 50vw;
  height: 100%;
  border-bottom: 4px solid #969696;
  border-left: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
}
.icon-sadness {
  width: 8.5vw;
  height: 22vw;
  display: inline-block;
  margin: 0 1.2vw;
  position: relative;
}
.icon-sadness:nth-of-type(1) {
  margin-left: 2.7vw;
}
.icon-sadness img {
  width: 8.5vw;
  height: 14.6vw;
}
.sadness-path {
  width: 50vw;
  height: 9vw;
  background-image: url('../images/sadness-path.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.tears {
  width: 7.4vw;
  height: 9vw;
  display: inline-block;
  margin: 0 1.8vw;
  position: relative;
  opacity: 0;
}
.tears img {
  width: 7.4vw;
  height: 5.6vw;
}
.tears.first {
  margin-left: 4.2vw;
}
.sadness-colored {
  width: 50vw;
  height: 43vw;
  opacity: 0;
  top: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/sadness-colour.svg');
  background-size: cover;
  z-index: 2;
}
/* следующие два блока */
.third-container {
  display: flex;
  height: 43vw;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* умиротворение */
.peace {
  width: 50vw;
  height: 100%;
  border-top: 4px solid #969696;
  border-bottom: 4px solid #969696;
  border-right: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
  background-image: url(../images/peace.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.icon-peace-bw {
  width: 33vw;
  height: 33vw;
  position: absolute;
  left: -20vw;
  top: 5.5vw;
}
.peace-colored {
  width: 50vw;
  height: 43vw;
  opacity: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/peace-colour.svg');
  background-size: cover;
  z-index: 2;
}

/* воодушевление */
.excitement {
  width: 50vw;
  height: 100%;
  border-bottom: 4px solid #969696;
  border-left: 4px solid #969696;
  border-top: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.box {
  width: 12.5vw;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.5vw;
  display: flex;
}
.icon-excitement {
  width: 12vw;
  height: 12vw;
}
.icon-excitement.fix {
  margin-bottom: 3vw;
}
.icon-excitement.fix2 {
  margin-top: 3vw;
}
.box.exc1 {
  justify-content: flex-end;
  gap: 3.5vw;
}
.box.exc2 {
  justify-content: flex-start;
  gap: 3.5vw;
  margin: 0 1vw 0 1vw;
}
.box.exc3 {
  justify-content: flex-end;
  gap: 3.5vw;
}
.excitement-colored {
  width: 50vw;
  height: 43vw;
  opacity: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/excitement-colour.svg');
  background-size: cover;
  z-index: 2;
}
/* блок с гитарой */

.forth-container {
  display: flex;
  height: 43vw;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.big-guitar {
  width: 75vw;
  height: 100%;
  border-top: 4px solid #969696;
  border-bottom: 4px solid #969696;
  border-right: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
  background-image: url('../images/big-guitar.svg');
  background-size: cover;
  background-size: 75vw 56vw;
  background-position: center;
  background-repeat: no-repeat;
}
.strings {
  width: 20vw;
  height: 88vw;
  position: absolute;
  overflow: hidden;
  display: flex;
  transform: rotate(-66.5deg);
  left: 25vw;
  bottom: -22.9vw;
}

.orange-string1 {
  width: 3.4vw;
  height: 88vw;
  background-image: url('../images/wide-string.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.lemon-string2 {
  width: 3.4vw;
  height: 88vw;
  background-image: url('../images/wide-string.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.blue-string3 {
  width: 3.4vw;
  height: 88vw;
  background-image: url('../images/wide-string.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.yellow-string4 {
  width: 3.4vw;
  height: 88vw;
  background-image: url('../images/narrow-string.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.green-string5 {
  width: 3.4vw;
  height: 88vw;
  background-image: url('../images/narrow-string.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.pink-string6 {
  width: 3.4vw;
  height: 88vw;
  background-image: url('../images/narrow-string.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* влюбленность */

.crush {
  width: 25vw;
  height: 100%;
  border-top: 4px solid #969696;
  border-bottom: 4px solid #969696;
  border-left: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  background-image: url('../images/crush-back.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.icon-crush {
  width: 21.5vw;
  height: 12.5vw;
  opacity: 0;
  background-image: url('../images/iconcrush.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.crush-colored {
  width: 25vw;
  height: 43vw;
  top: 0;
  left: -0.3vw;
  opacity: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/crush-colour.svg');
  background-size: cover;
  z-index: 2;
}

/* следующие два блока 2 */

.fifth-container {
  display: flex;
  height: 43vw;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pain {
  width: 50vw;
  height: 100%;
  border-top: 4px solid #969696;
  border-bottom: 4px solid #969696;
  border-right: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
  background-image: url('../images/iconpain.svg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: right;
  display: flex;
}
.text {
  width: 20.1vw;
  height: 12.3vw;
  margin-top: 17vw;
  margin-right: 2vw;
}
.text p {
  font-size: 2.6vw;
  font-family: 'Unbounded';
  font-weight: 400;
  color: #ffffff;
}
.pain-colored {
  width: 50vw;
  height: 43vw;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/pain-colour.svg');
  background-size: cover;
  z-index: 2;
}

/* гнев */

.anger {
  width: 50vw;
  height: 100%;
  border-top: 4px solid #969696;
  border-bottom: 4px solid #969696;
  border-left: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
  background-image: url('../images/iconanger.svg');
  background-repeat: no-repeat;
  background-size: 200vw 43vw;
}
.anger-colored {
  width: 50vw;
  height: 43vw;
  opacity: 0;
  top: 0;
  left: -0.7vw;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/anger-colour.svg');
  background-size: cover;
  z-index: 2;
}
/* блок радость */
.sixth-container {
  height: 43vw;
  width: 100%;
  border-top: 4px solid #969696;
  border-collapse: collapse;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.st-path {
  width: 100vw;
  height: 21.5vw;
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-image: url('../images/joy-1stpath.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-joy {
  width: 15vw;
  height: 15vw;
  margin-left: 1vw;
  margin-top: 4vw;
}
.nd-path {
  width: 188vw;
  height: 17vw;
  background-image: url('../images/joy-2ndpath.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.joy-colored {
  width: 100vw;
  height: 43vw;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/joy-colour.png');
  background-size: cover;
  z-index: 2;
}
/* подвал */
.row2 p {
  font-size: 5vw;
  font-family: 'Unbounded';
  white-space: nowrap;
  font-weight: 500;
}
.the-end {
  height: 8vw;
  width: 100%;
  position: relative;
  background-color: #00efff;
  padding-top: 1vw;
  overflow: hidden;
}
.row2 {
  position: absolute;
  width: 70%;
}
